In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math

## 1. [# 30] На станции лондонского метро подсчитывалось количество женщин в каждой из 100 очередей длиной 10. Таким образом, был получен набор данных x1, x2, … , x100, где xi обозначает наблюдаемое количество женщин в i-й очереди. Набор данных представлен в таблице

1) Найдите медиану и с помощью bootstrap найдите стандартное отклонение медианы. Для этого 1000 раз сгенерируйте случайную выборку из данных в таблице, вычислите медиану в каждой выборке и оцените стандартное отклонение получившихся значений.

In [2]:
df = pd.read_excel('queue.xlsx')
median = df.median()
print(median)

queue    4.0
dtype: float64

In [1]:
bootstrap_median = []
data = df['queue']
for _ in range(1000):
    bootstrap_df = data.sample(len(data), replace=True)
    bootstrap_median.append(bootstrap_df.median() - median)
plt.hist(bootstrap_median, color='blue', edgecolor='white');

NameError: name 'df' is not defined

In [ ]:
print(pd.Series(bootstrap_median).std())

2). Найдите IQR и, с помощью bootstrap, найдите стандартное отклонение IQR,
аналогично 1)

In [ ]:
description = df.describe()

print(description)

print("IQR =", description['queue']['75%'] - description['queue']['25%'])

## 2. [# 20] Во время Второй мировой войны на Лондон обрушилось множество летающих бомб. Следующие данные относятся к площади в Южном Лондоне площадью 36 квадратных километров. Площадь была разделена на 576 квадратов со сторонами длиной 1/4 километра. Для каждого из 576 квадратов было записано количество ударов. Таким образом, мы получаем набор данных x1, x2, … , x576, где xi обозначает количество ударов в i-м квадрате. Данные обобщены в следующей таблице, в которой указано количество квадратов без ударов, с одним попаданием, с двумя попаданиями и т.д.